--accent-color: #6D8A65;
--border-color: #BCC376;
--background-1: #69989A;
--background-2: #2ABCCF;
--background-mentioned: #BCC376 !important;
--background-mentioned-hover: #BCC376 !important;
--background-modifier-hover: #BCC376 !important;
--background-modifier-active: #BCC376 !important;
--text-normal: #c1c3c3 !important;
--text-positive: #c1c3c3 !important;
--text-muted: #c1c3c3 !important;
--text-link: #c1c3c3 !important;
--button-background: #081111 !important;
--button-background-hover: #081111 !important;
--button-background-active: #081111 !important;
--button-accent-hover: #081111 !important;
--button-accent-active: #2ABCCF !important;
--button-destructive: #2ABCCF !important;
--button-destructive-hover: #69989A !important;
--button-destructive-active: #69989A !important;
--settings-icon-color: #081111 !important;
--tab-selected: #999D6B !important;
--switch: #6D8A65 !important;
